%div{class: 'box-gray'}
  The PBCore Validator can detect certain types of errors and deviations from "best practices" in the records using the [PBCore](http://pbcore.org) metadata schema. For more information about PBCore, visit http://pbcore.org.

%div{class: 'box-gray'}
  %h2 Validate a document
  %form{ :action => "/validator", :method => "post", :enctype => "multipart/form-data" }
    %p
      %label{ for: "file" } Select a file to validate:
      %input{ id: "file", name: "file", type: "file" }
    %p
      %label{ style: 'padding-bottom: 1em;', for: "textarea" } <strong>or</strong> paste a PBCore document into the textbox:
      %textarea{ style: 'padding-bottom: 1em;', id: "textarea", name: "textarea", rows: 5, cols: 80 }
    %p
      %label{ for: "version" } PBCore Version:
      %select{ name: "version", id: "version" }
        - Validator::PBCORE_VERSIONS.sort.each do |code, version|
          %option{ value: code, selected: (code == "2.1") }&= version[:version]
    %p
      %input{ type: "reset", value: "Clear Form", class: "button" }
      %input.s{ type: "submit", value: "Validate PBCore", class: "button" }

%div{class: 'box-gray'}
  #content
    %p
      This version of the PBCore Validator is currently maintained by WGBH. It was originally written by Mike Castleman and is copyright (c) 2009 by "Roasted Vermicelli, LLC":http://vermicel.li/ and released under the terms of the "GNU General Public License":http://www.gnu.org/licenses/gpl.html, "version 3":COPYING.txt or later. An update was initiated on 10/07/2014 by Tessa Fallon for the AMIA/DLF Hack Day.
    %p
      %i
        This work employs PBCore.
      PBCore, the Public Broadcasting Metadata Dictionary, is licensed under a "Creative Commons Attribution 4.0 International license":https://creativecommons.org/licenses/by/4.0/. (Full legal code available here.)
      %i
        PBCore, the Public Broadcasting Metadata Dictionary Project, was created by the public broadcasting community in the United States of America for use by public broadcasters and others. PBCore is built on the foundation of the Dublin Core (ISO 15836), an international standard for resource discovery. PBCore was developed with funding provided by the Corporation for Public Broadcasting and is maintained by WGBH. Copyright 2018, WGBH Educational Foundation, on behalf of the American Archive of Public Broadcasting.

%div{class: 'box-gray'}
  %p{style: 'margin-bottom: 1em;'}
    The PBCore Validator was last updated as part of the PBCore Development and Training Project. The PBCore Development and Training Project has been made possible in part by a major grant from the National Endowment for the Humanities: Exploring the human endeavor.
  %div{style: 'width: auto; text-align:center; margin-left: auto; margin-right: auto;'}
    %img{src: '/neh-logo.png', style: 'width: 18em;'}
