<div class="box-gray">
  The PBCore Validator can detect certain types of errors and deviations from "best practices" in the records using the <a href="http://pbcore.org">PBCore</a> metadata schema. For more information about PBCore, visit http://pbcore.org.
</div>

<div class="box-gray">
  <h2>Validate a document</h2>
  <form action="/validator" method="POST", enctype="multipart/form-data">
    <p>
      <label for="file">Selecta a file to validate:
        <input id="file" name="file" type="file" />
      </label>
    </p>
    
  </form>
</div>