!!! XML
!!! Strict
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en" }
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title PBCore Validator
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => "/favicon.ico" }
  %body
    %div{style: 'padding-left: 1.6em; padding-right: 1.6em; padding-top: 0.6em; padding-bottom: 1em; background-color: #eee; margin-bottom: 1%;'}
      %h1 PBCore Validator
    = yield
